{% extends "base.twig" %}

{% block title %}Add a new link{% endblock %}
{% block meta_description %}Online service to shorten your long URLs{% endblock %}
{% block meta_keywords %}short URL, URL, bitly, awesome, save, share, shorten{% endblock %}

{%block content %}
  <form action="add" method="post">
	  <p><label for="link">Url to shorten</label><br />
	  <input type="url" name="link" id="link" placeholder="Paste a link to shorten it" autocomplete="off" required="required" /></p>
	  <p><button type="submit" name="submit">Shorten URL!</button></p>
  </form>
{% endblock %}
